<configuration>
	<passportKeys>
		<key
			gameCode="94224"
			gameName="elsword"
			codec="Fi2vL9ioUEilmvKUSSXxaaadUaNwD_tBn~vwMtWJOsU="
			verifier="MIGGAoGAcnFJfbtt6vU~HhSO95yDHTEQf~fobZlN90vK8iIMDfvj1z5bT3JzIYnHGugE6ufw3SpH8teRxAoi2AALlmrFCruPzU6l2JhHlm8DfIheVgn6dmZK3k7FxAJ7NkGqxyKIFrYeggnHu3dM4gRHvSEwrZ1jrMkke5yhZRsDPV1xU3kCASA="
		/>
		<key
			gameCode="126986"
			gameName="elswordtest"
			codec="OUWozfuXdUO_WNqx_KUeuJtplFEoq9dOsicm4SFUyy8="
			verifier="MIGGAoGAamg~6Xp~Gi8sVmSXa8pj3J2e_t5C7px1kYJwc3Uf0g_Th9LNfPco9h0f0P6eLUqABSKlKeMpk49ogPoReOIoWuODGjox6Cw28L90t3MdwRw7zBE9sISaLV5r64pACwQsLOEJzegYOYhBifNxU8T0zaT0yVLkh8CN5BhbZcBK7GkCASA="
		/>
		<key
			gameCode="126987"
			gameName="elswordtest_internal"
			codec="Z36mhXEBpUmpeo45eGom0pK_ucsyLoVDmD6TT2YyO64="
			verifier="MIGGAoGASv9OHCUSvxwvAdRbXwpoCRuIzhFKGEFM5vg5nLkaVvlwWaFwCZbGB75EtyortkmGOEyyRABiN~bMExXG1Lecy80LMXN5di~yXnvJKBP43AKU0OMJZUghgIV8XMktJFfVyH7~KlJ33diAa7O6J56Z_B0EVkqtuU0H~3NG2uiwBf8CASA="
		/>
	</passportKeys>
</configuration>
